db.sqlite3
hrajeme_si/__pycache__/urls.cpython-310.pyc
hrajeme_si/__pycache__/wsgi.cpython-310.pyc
pokus/__pycache__/__init__.cpython-310.pyc
pokus/__pycache__/urls.cpython-310.pyc
pokus/__pycache__/views.cpython-310.pyc
